/* Inizio regola generale */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;       
} 
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/* Fine regola generale */
/* Inizio html */
html{
    scroll-behavior: smooth;
}
/* Fine html */
/* Inizio container */
.container{      
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif
}
/* Inizio nav */
nav{
    position: fixed;
    z-index: 1;  
    float: right;
    top: 0; 
    right: 0;
}
li{   
    float: left;            
    list-style: none;    
    margin: 10px;
}
a{
    display: block;
    text-decoration: none;
    font-weight: 800;       
    background-color: white;   
    height: 50px;
    width: 50px;    
    border-radius: 50%;
    text-align: center;
    line-height: 50px;  
}
/* Fine nav */
/* Inizio img */
.img{    
    position: relative;    
    text-align: center;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 50%;
}
/* Fine img */
 /* Inizio testo */
h1{
    width: 100%;    
    font-size: calc( 2vw + 20px);
    color: yellow;
}
.h1-yellow{
    width: 100%;    
    font-size: calc( 2vw + 20px); 
    color: green;    
}
/* Fine testo */
/* Inizio background color */
.background-red{    
    width: 100%;  
    height: 100vh;
    background-color: red;    
}
.background-green{     
    width: 100%;  
    height: 100vh;
    background-color: green;
}
.background-yellow{      
    width: 100%;  
    height: 100vh;
    background-color: yellow;
}
/*  Fine background color */
/* Fine container */